- full_messages = defined?(full_messages) && full_messages == true
- if form.errors.key?(column)
  .text-pink-400.text-xs.mt-1.error-message
    - if full_messages
      = form.errors.full_messages_for(column).join(', ')
    - else
      = form.errors.messages[column].join(', ')
