.flex.flex-wrap.bg-gradient-to-r.from-blue-500.to-blue-500.py-16.via-blue-600
  - if visits.present? && visits.any?
    .container.mx-auto
      .mx-auto{ class: 'md:w-1/2' }
        .visits
          - visits.each do |visit|
            .visit{ data: { controller: 'synchronize-visit', 'synchronize-visit-token': visit.token } }
              = render 'list_item', visit: visit
  - else
    .text-center.text-sm.text-blue-500 No visits found
