.text-center.mt-20.mb-8.px-4
  .container.mx-auto
    %h1.text-2xl.text-blue-500.leading-tight
      %span.block= t('.welcome_to')
      %span.font-bold.inline-block.text-5xl.bg-clip-text.text-transparent.bg-gradient-to-r.from-blue-400.to-blue-400.via-green-500= @visit_form.host.name

= render 'form', visit_form: @visit_form
