.text-center.bg-yellow-200.text-gray-800.text-sm.py-5
  If you are a
  %b guest
  you do not need to sign up or sign in.
  .mt-2
  Go to the
  = link_to 'home page', root_path, class: 'text-pink-500 hover:text-pink-600 transition duration-200 ease-in-out'
  and start over from there.
