.text-center.mb-24.mt-16.px-4
  %h1.text-center.text-5xl.mb-0.leading-tight.text-blue-900
    = t('.rumo_is_a')
    .gradient-on-b
      = t('.digital_guestlist_html')
  %p.text-xl.text-gray-800.mt-4
    = t('.which_can_be_used_for_covid19')
