@import "tailwindcss/base";
@import "tailwindcss/components";

body {
  @apply bg-transparent;
}

h1, h2, h3, h4, h5, h6 {
  @apply text-purple-600 tracking-wider mb-6;
}

h1 {
  @apply mb-6;
}

label {
  @apply block mb-1 text-xs text-gray-500;
}

input, select {
  @apply py-3 px-2;
}

.input-text {
  @apply bg-purple-100 border border-purple-400 rounded-lg shadow-inner;
}

.input-submit {
  @apply bg-purple-400 rounded-lg py-2 px-10;
}

.button {
  @apply rounded py-2 px-10 border-2 cursor-pointer;
}

a.shy-link {
  @apply text-gray-500 transition duration-200 ease-in-out;
}

a.shy-link:hover {
  @apply text-purple-500;
}

ol {
  @apply list-decimal list-inside;
}

.field_with_errors input {
  @apply border-pink-500;
}

.text-status-confirmed { @apply text-green-400; }
.text-status-unconfirmed { @apply text-purple-400; }

.border-status-confirmed { @apply border-green-400 border-2; }
.border-status-unconfirmed { @apply border-gray-200 border; }

.admin-visit-status-confirmed {
  @apply border-green-300 border border-l-8;
}

.admin-visit-status-unconfirmed {
  @apply border-purple-500 border border-l-8 cursor-pointer;
}

.admin-visit-status-unconfirmed:hover {
  @apply border-purple-600;
}

@media print{
  .noprint {
    @apply hidden;
  }
}

.svg-center > svg {
  @apply mx-auto;
}

@import "tailwindcss/utilities";
